@import "tailwindcss";

:root {
  --bg: #0a0b0d;
  --text: #e4e4e7;
  --accent:             #ab54ce;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--accent);
  color: black;
}

html {
  scroll-behavior: smooth;
}
